[Unit]
Description=Speedtest Status Page API
After=network.target

[Service]
ExecStart=/usr/local/bin/speedtest-statuspage
WorkingDirectory=/etc/speedtest-statuspage
EnvironmentFile=/etc/speedtest-statuspage/.env
Restart=on-failure
RestartSec=5s
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target